-
  const fonts = [
      'latoregular',
      'latomedium',
      'latoblack',
    ]
-
  const site = {
    title: 'Новый проект',
    description: 'Description сайта',
    url: 'https://example.com',
    logo: '/img/logo.png',
  }
-
  const links = [
    {
      name: 'Главная',
      path: '/pages/main.html'
    },
    {
      name: 'Про компанию',
      path: '/pages/about.html'
    }
    ,
    {
      name: 'UI KIT',
      path: '/pages/ui-kit.html'
    }
  ]

-
  const contacts = {
    phone: {
      name: 'Phone',
      value: 'tel:+781262768',
      text: '+7 (812) 627-17-68',
      icon: 'phone'
    },
    email: {
      name: 'Mail',
      value: 'mailto:mail@npi-agi.ru',
      text: 'mail@npi-agi.ru',
      icon: 'email'
    },
    address: {
      name: 'Address',
      value: '197342, Санкт-Петербург, наб. Черной речки, д. 41, к. 2, лит. Б, пом. №9',
      text: '197342, Санкт-Петербург, наб. Черной речки, д. 41, к. 2, лит. Б, пом. №9',
      icon: 'address'
    }
  }
