extends ../templates/layout

block main-content
  main.main
    section
      ._container
        input(class="input js-input js-input_type_phone" type="text")
        input(class="input js-input js-input_type_phone" type="text")
        h1.title О компании
        section.splide(aria-label='Splide Basic HTML Example')
          .splide__track
            ul.splide__list
              li.splide__slide
                img(src="/assets/3.jpg", height="300" alt="" data-fancybox="gallery")
              li.splide__slide
                img(src="/assets/3.jpg", height="300" alt="" data-fancybox="gallery")
              li.splide__slide
                img(src="/assets/3.jpg", height="300" alt="" data-fancybox="gallery")
          .splide__progress
            .splide__progress__bar
