extends ../templates/layout

block main-content
  main.about-page
    section.about-page__promo
      ._container
        h1.title О компании
        section.splide(aria-label='Splide Basic HTML Example')
          .splide__track
            ul.splide__list
              li.splide__slide
                img(src="/img/3.jpg", height="300" alt="")
              li.splide__slide
                img(src="/img/3.jpg", height="300" alt="")
              li.splide__slide
                img(src="/img/3.jpg", height="300" alt="")
          .splide__progress
            .splide__progress__bar
